.home {
    height: 100%;
    width: 100%;
    background-image: url('./lame-boy-logo-scan-rough.png');
    background-size: 240px;
    background-position: center center;
    background-repeat: no-repeat;
}

.subscribe-popup {
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    padding: 40px;
    background-color: rgba(254, 231, 24, 0.95);
    display: none;
    opacity: 0;
    transition: 0.3s ease all;
}

.subscribe-popup.show {
    display: flex;
    opacity: 1;
}

.subscribe-popup .title {
    margin-bottom: 10px;
}

.subscribe-popup input[type="text"] {
    -webkit-appearance: none;
    background-color: transparent;
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: 0;
    border-radius: 6px;
    text-align: center;
}

.subscribe-popup input[type="text"]::placeholder {
    color:  rgba(0, 0, 0, 0.2);
}

.button {
    display: block;
    position: fixed;
    width: auto;
    padding: 20px;
}

.button img {
    height: 30px;
}

@media (max-width: 600px) {
    .button img {
        height: 22px;
    }
}

.button:nth-child(1) {
    top: 0;
    left: 0;
}

.button:nth-child(2) {
    top: 0;
    right: 0;
    text-align: right;
}

.button:nth-child(3) {
    bottom: 0;
    left: 0;
}

.button:nth-child(4) {
    bottom: 0;
    right: 0;
    text-align: right;
}