.home {
    height: 100%;
    width: 100%;
    background-image: url('./lame-boy-logo-red-4.png');
    background-size: 160px;
    background-position: center center;
    background-repeat: no-repeat;
}
.button {
    display: block;
    position: fixed;
    width: auto;
    padding: 20px;
}

.home a {
    color: #DA291C;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 3em;
}

@media (max-width: 600px) {
    .home a {
        text-decoration: none;
        font-family: 'Helvetica', sans-serif;
        font-size: 1.4em;
    }
}

.button img {
    height: 45px;
}

.button:nth-child(1) {
    top: 0;
    left: 0;
}

.button:nth-child(2) {
    top: 0;
    right: 0;
    text-align: right;
}

.button:nth-child(3) {
    bottom: 0;
    left: 0;
}

.button:nth-child(4) {
    bottom: 0;
    right: 0;
    text-align: right;
}